// font url or font-face
/* barlow-semi-condensed-500 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Barlow Semi Condensed';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/barlow-semi-condensed-v15-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-600 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Barlow Semi Condensed';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/barlow-semi-condensed-v15-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
// colors
$primary-color-violet: hsl(263, 55%, 52%);
$primary-color-gray-blue: hsl(217, 19%, 35%);
$primary-color-black-blue: hsl(219, 29%, 14%);
$primary-color-white: hsl(0, 0%, 100%);

$secondary-color-light-gray: hsl(0, 0%, 81%);
$secondary-color-gray-blue: hsl(210, 46%, 95%);

// font family
$barlow-semi-condensed: 'Barlow Semi Condensed', sans-serif;

// Font Size
$fs-sm: 0.8125rem; // 13px
$fs-md: 1rem; // 16px
$fs-lg: 2rem; // 32px

// Font Weight
$fw-regular: 500;
$fw-bold: 600;
